button {
  width: 100px;
  height: 35px;
  border-radius: 25px;
  background: #FB4E4E;
  border: none;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: all .375s;

  &:hover {
    box-shadow: 2px 2px 5px #222;
  }
}