header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: #f9f9f9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 57px;

  div {
    display: flex;
    align-items: center;
  }

  h1 {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 6px;
  }

  img[class-name="logo"] {
    width: 40px;
    height: 40px;
  }

  img[class-name="avatar"] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 22px;
  }

  img[class-name="login"] {
    width: 30px;
    height: 30px;
    margin-left: 31px;
  }

  img[class-name="logout"] {
    width: 30px;
    height: 30px;
  }

  nav {
    margin-left: 65px;
  }

  a {
    color: #464646;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    transition: all 0.375s;

    &:hover {
      color: #fb4e4e;
    }
  }
}
